.bottomPanelHolder {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
    position: absolute;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: flex-end;
    transition: 0.6s;
    overflow: hidden;
    background-color: rgba(200, 200, 200, 0.5);
}
  
.bottomPanel {
    width: 100%;
    max-width: 600px;
    border-radius: 4vh 4vh 0 0;
    background-color: rgba(255, 255, 255, 0.7);
    padding-bottom: 4vh;
    transition: 0.6s;
}

.bottomPanel p {
    font-size: 3vh;
    padding-top: 2vh;
    text-align: justify;
    width: 90%;
}

.bottomPanel img {
    width: 5vh;
    display: block;
    padding-top: 3vh;
    cursor: pointer;
}