*{
    margin: 0px;
    padding: 0px;
    font-family: "Coolvetica";
    outline: none;
    text-decoration: none;
}
  
::-webkit-scrollbar {
    width: 6px;
}
  
::-webkit-scrollbar-track {
    background: transparent;
}
  
::-webkit-scrollbar-thumb {
    background: #222;
    border-radius: 3px;
}
  
@font-face {
    font-family: "Coolvetica";
    src: url("../fonts/coolvetica.ttf");
}

.root-page {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.page{
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 90%;
    max-width: 700px;
    height: 100%;
}

.title {
    font-size: 4vh;
}

.subTitle {
    padding-top: 0.5vh;
    font-size: 3vh;
}

@media only screen and (max-width: 768px) and (max-height: 560px){
    .title {
        font-size: 24px;
    }

    .subTitle {
        padding-top: 3px;
        font-size: 18px;
    }
}