.guestList{
    margin-top: 3vh;
    height: 46vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.formHolder{
    width: 90%;
}

.formHolder button{
    width: 8vh;
    height: 8vh;
    border-radius: 2vh;
    border: none;
    background-color: #8542c8;
    background-image: url("../../img/addWhite.svg");
    background-position: center;
    background-size: 5vh;
    background-repeat: no-repeat;
    margin-top: 3vh;
    transition: 0.2s;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.formHolder button:hover {
    background-color: #67329c;
}

.title img{
    margin-left: 1vh;
    vertical-align: -6px;
    cursor: pointer;
}