input {
    appearance: none;
    width: 90%;
    background-color: transparent;
    border: none;
    font-size: 3vh;
}

.inputHolder{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(170, 170, 170, 0.15);
    border-radius: 2vh;
    height: 8vh;
    border: none;
}