.guestList{
    margin-top: 3vh;
    height: 54vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.guestList button:nth-of-type(1){
    margin-top: 0 !important;
}

.formHolder{
    width: 90%;
}

.formHolder input{
    background-color: rgba(194, 194, 194, 0) !important;
}

.formHolder div:nth-of-type(3){
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.formHolder div:nth-of-type(3) > div{
    display: inline-flex;
    width: 80% !important;
    vertical-align: middle;
    max-width: 500px;
}

.inputHolder{
    background-color: rgba(120, 120, 120, 0.08) !important;
    margin-top: 3vh;
}

@media only screen and (max-width: 400px) {
    .formHolder div:nth-of-type(3) > div{
        width: 70% !important;
    }
}