select {
    width: 90%;
    display: block;
    margin-top: 3vh;
    background-color: rgba(170, 170, 170, 0.15);
    border-radius: 2vh;
    border: none;
    font-size: 3.5vh;
    padding: 2vh 0 2vh 2vh;
    appearance: none;
    background-image: url("../../img/downBlack.svg");
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-size: 4vh 2vh;
    cursor: pointer;
}