.logo {
    height: 4.2vh !important;
    padding: 0 1.2vh 0 0;
}

.logoName {
    color: #8542c8;
    font-size: 5vh;
}

@media only screen and (max-width: 500px) {
    .logoName{
        font-size: 4vh;
    }
}